PySide6>=6.6.0
numpy>=2.0.0
opencv-python>=4.8.0
tifffile>=2024.1.1
imagecodecs>=2024.1.1
pandas>=2.0.0
scipy>=1.10.0
nuitka>=2.0
zstandard
ordered-set
qimage2ndarray>=1.10.0
scikit-image>=0.22.0
PyWavelets>=1.4.1
matplotlib>=3.8.0
Pillow>=10.0.0
tencentcloud-sdk-python
tencentcloud-cls-sdk-python @ git+https://github.com/TencentCloud/tencentcloud-cls-sdk-python.git@v1.0.4
protobuf<4.0.0,>=3.4.0
lz4<=3.1.2
python-snappy<=0.6.0
certifi

